#mystatisticsmain{
    width: 100%;
    height: auto;
    display:grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px,2fr));
}
#mystatisticsmain>div{
    /* border: 1px solid red; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#mystatisticsmain>div>img{
    width: 100%;
    border-radius: 2rem;
}
#mystatisticsmain>div:hover{
width: 102%;
cursor: pointer;
}