
#navbarmain{
    width: 100%;
   margin: auto;
  position: fixed;
 background-color:#4A5568;
 z-index: 100;

}


#downloadbtn{
    background-color: #0f2040;
    color: white;
    border-radius:1rem;

}
#navbarmain>div:nth-child(1){
    cursor: pointer;
    margin-top: 1rem;
}

.btnnavbar{
    color: white;
}
#navbarmain>div:nth-child(2){
    cursor: pointer;
    margin-top: 1rem;
}

.btng{
    background-color: #0f2040;
    color: white;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 1rem;




}
.btng:hover{
    cursor: pointer;
    background-color: blue;
}
#a{
    text-decoration: none;
    font-size: 19px;
    color: white;
}
.btnn{
    width: 30%;
    /* margin: auto; */
    /* border: 1px solid red;
     */
     background-color: blue;
     border: none;
     padding: 10px 20px 10px 20px;
     border-radius: 0.5rem;
}

.btnn:hover{
    background-color: red;
    cursor: pointer;
}





  




